[user]
    email = junecloud@163.com
    name = chenzj
[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    st = "status"
    rs = reset --hard	
    co = checkout
    ls = "ls-files"
    cm = commit 
    br = branch  
    unstage = reset HEAD  
    uncommit = reset --soft HEAD^  
    amend = commit --amend  
    who = shortlog -n -s --no-merges  
    g = grep -n --color -E  
    cp = cherry-pick -x  
    cb = checkout -b 
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset'
[diff]
    tool = meld
[merge]
    tool = meld
[push]
    default = simple
[core]
    filemode = false
    autocrlf = input
    safecrlf = true
