# Mac
.DS_Store

# VSCode
.vscode/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# git
*.patch

# java
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.xml.versionsBackup
.flattened-pom.xml

# Python stuff
*.pyc
VENV
.env
.venv

# custom
logs
*.log