[color]
	ui = auto

[alias]
	aliases = config --get-regexp alias
	amend = commit --amend --reuse-message=HEAD
	# Sharable diff with disabled syntax highlighting and +/- marks
    patch = !git --no-pager diff --no-color
	# Merge fresh master into the current branch
	mmm = !git fetch origin master && git merge origin/master --no-edit
	# Log with list of changed files for each commit
	ll = log --stat --abbrev-commit
	# List of my own commits
	my = !git log --branches=* --no-merges --pretty=format:'%C(reset)%C(bold)%cd %C(reset)%C(white)%s  %C(reset)%h' --date=short --author=\"$(git config user.name)\"
	# List of branches ordered by last change
	branches = for-each-ref --sort=-committerdate refs/heads/ --format='%(color:bold)%(refname:short)%(color:reset)\t%(committerdate:relative)'
	# List of files with merge conflicts
	wtf = diff --name-only --diff-filter=U
	# Rebase: add changes and continue
	cont = !git add . && git rebase --continue
	skip = rebase --skip
	abort = rebase --abort
	# Cancel local commits in the branch: git fuck master
	fuck = "!f() { git reset --hard origin/$1; }; f"

	contributors = shortlog --summary --numbered
	whoami = config user.email

[push]
	# When pushing code, always push only your current branch to a branch of the same name
	default = current
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true

[fetch]
	# Automatically prune deleted branches from your local copy when you fetch (or pull)
	prune = true

[log]
	# Show branch names with git log
	decorate = short

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true
	conflictstyle = diff3
[delta]
	navigate = true
	light = false
[diff]
	colorMoved = default

[init]
	defaultBranch = main

# URL shorthands
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
	insteadOf = "github:"

[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
	insteadOf = "gist:"

[user]
	name = chensoul
	email = ichensoul@gmail.com