[core]
  editor = vim
  pager = cat
  autocrlf = input

[user]
    name = chensoul
    email = ichensoul@gmail.com

[alias]
    l  = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[pull]
	rebase = false